<div class="login-container">

  <div class="right-column">
    
    <p-card styleClass="biblioteca-card">
      <ng-template pTemplate="header">
        <div class="card-header">
          <div class="library-icon">
            <img src="assets/img/Logo-Dorado.png" class="logo-dorado" alt="logo">
          </div>
          <h2>Biblioteca Física</h2>
          <p>Ingresa a tu cuenta para acceder al catálogo</p>
        </div>
      </ng-template>
      
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
        <div class="form-field">
          <label for="email" class="field-label">Correo electrónico</label>
          <div class="input-wrapper">
            <i class="pi pi-envelope input-icon"></i>
            <input
              pInputText
              id="email"
              formControlName="email" placeholder="tu@iglesia.com"
              type="email"
              class="input-with-icon"
              [class.ng-invalid]="isFieldInvalid('email')"
              [class.ng-dirty]="isFieldInvalid('email')"
            />
          </div>
          <small class="p-error" *ngIf="isFieldInvalid('email')"> Por favor ingresa un email válido
          </small>
        </div>

        <div class="form-field">
          <label for="password" class="field-label">Contraseña</label>
          <div class="input-wrapper">
            <i class="pi pi-lock input-icon"></i>
            <p-password
              inputId="password"
              formControlName="password"
              placeholder="........"
              [feedback]="false"
              [toggleMask]="true"
              styleClass="password-with-icon"
              [class.ng-invalid]="isFieldInvalid('password')"
              [class.ng-dirty]="isFieldInvalid('password')"
            >
            </p-password>
          </div>
          <small class="p-error" *ngIf="isFieldInvalid('password')">
            La contraseña es requerida
          </small>
        </div>

        <p-button
          label="Iniciar sesión"
          type="submit"
          styleClass="biblioteca-button"
          [disabled]="loginForm.invalid"
          [loading]="loading"
        >
        </p-button>
      </form>
    </p-card>
  </div>
</div>
