/* Paleta Global */
:root {
  --beige: #ede6d7;
  --beig-transparent-5: #ede6d752;
  --wine: #5c2b2e;
  --wine-darken-1: #502728;
  --wine-darken-2: #472224;
  --wine-transparent-4: #5c2b2e4d;
  --gold: #d4af37;
  --gold-darken-1: #cca832;
  --gold-darken-2: #c4a131;
  --gold-transparent-5: #f7e7b236;
  --gold-transparent-4: #f7db8236;
  --gold-transparent-3: #f7dc826b;
  --brown: #8b4513;
  --brown-transparent-5: #f5decc59;
  --brown-transparent-4: #d3bba95b;
  --gray: #c4c4c4;
  --gray-transparent-1: #f1f1f148;
  --white: #ffffff;
  --red-cherry: #c3002f;
  /*Colores Angular*/
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: oklch(39.6% 0.141 25.723);
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1dd;
  --slate-500: #64748b;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

/* Fondo Global */
html,
body {
  height: 100%;
  margin: 0;
  background: var(--beige) !important;
  overflow-x: hidden;
}

/*Generales*/
.full-w {
  width: 100%;
  flex: 1;
}

/*Estilos Chips*/
.chip-compact {
  padding: 4px 8px !important;
}

.chip-admin {
  background: #d4af37 !important;
  color: #5c2b2e !important;
}
.chip-admin .p-chip-icon.pi {
  color: #5c2b2e !important;
}

/*Estilos Btn*/
/*Botón Principal*/
.btn-primary {
  color: var(--white) !important;
  background: var(--wine) !important;
  border: 1px solid transparent !important;
}
.btn-primary:hover {
  background: var(--wine-darken-1) !important;
}
.btn-primary:active {
  background: var(--wine-darken-2) !important;
}
/*Botón Primario Outlined*/
.btn-primary.outlined {
  color: var(--brown) !important;
  background: transparent !important;
  border: 1px solid var(--brown) !important;
}
.btn-primary.outlined:hover {
  background: var(--brown-transparent-5) !important;
}
.btn-primary.outlined:active {
  background: var(--brown-transparent-4) !important;
}
/*Botón Secundario*/
.btn-secondary {
  color: var(--white) !important;
  background: var(--gold) !important;
  border: 1px solid transparent !important;
}
.btn-secondary:hover {
  background: var(--gold-darken-1) !important;
}
.btn-secondary:active {
  background: var(--gold-darken-2) !important;
}
/*Botón Secundario Outlined*/
.btn-secondary.outlined {
  color: var(--gold) !important;
  background: transparent !important;
  border: 1px solid var(--gold) !important;
}
.btn-secondary.outlined:hover {
  background: var(--gold-transparent-5) !important;
}
.btn-secondary.outlined:active {
  background: var(--gold-transparent-4) !important;
}
/*Botón Info*/
.btn-info {
  color: var(--slate-500) !important;
  background: var(--slate-100) !important;
  border: 1px solid transparent !important;
}
.btn-info:hover {
  background: var(--slate-200) !important;
}
.btn-info:active {
  background: var(--slate-300) !important;
}
/*Botón Info Text*/
.btn-info.text {
  color: var(--slate-500) !important;
  background: transparent !important;
  border: 1px solid transparent !important;
}
.btn-info:hover.text {
  background: var(--slate-100) !important;
}
.btn-info:active.text {
  background: var(--slate-200) !important;
}
/*Botón Danger*/
.btn-danger {
  color: var(--white) !important;
  background: var(--red-700) !important;
  border: 1px solid transparent !important;
}
.btn-danger:hover {
  background: var(--red-800) !important;
}
.btn-danger:active {
  background: var(--red-900) !important;
}
/*Animación de Botón*/
button.ani-one {
  transition: all 0.4s !important;
}
button.ani-one:hover {
  transform: translateY(-2px);
}

/*Estilos ToolTip*/
.p-tooltip {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
  font-size: 0.9rem;
}

/*Estilos Texto*/
.text.primary {
  color: var(--wine) !important;
}
.text.red {
  color: var(--red-cherry) !important;
  font-weight: 600;
}

/*Estilos Dialog*/
.p-dialog .p-dialog-header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
  font-weight: 700;
  font-size: 1.2rem;
  height: 65px;
  color: #5c2b2e;
}
/* Delete Dialog */
.confirm-delete-dialog .p-dialog-header {
  color: var(--red-700);
}
/* Opcional: que el contenido tenga contraste */
.confirm-delete-dialog .p-dialog-content {
  color: black;
}

/*Estilos Select*/
.p-select.p-component {
  border-color: var(--slate-300) !important;
  box-shadow: none !important;
}
.p-select:hover {
  border-color: var(--slate-500) !important;
}
.p-placeholder.p-select-label {
  padding: 0.75rem 0.9rem;
  color: var(--slate-500) !important;
}
.p-select-label {
  padding: 0.75rem 0.9rem !important;
  color: #5c2b2e !important;
}
.p-select-option[data-p-focused='true']:not([aria-selected='true']) {
  background: var(--beig-transparent-5) !important;
  color: var(--wine) !important;
}
.p-select-option[data-p-focused='true']:hover {
  background: var(--beige) !important;
  color: var(--wine) !important;
}
.p-select-option-selected {
  background: var(--beige) !important;
  color: var(--wine) !important;
}
/*Form Select*/
.form-comp.p-select:hover {
  border-color: var(--gold) !important;
  box-shadow: 0 0 6px var(--gold-tranqdesparent-4) !important;
}

/*Estilos Input*/
.p-inputtext {
  color: var(--wine) !important;
}
input:hover {
  border-color: var(--wine) !important;
}
input:focus {
  border-color: var(--wine) !important;
  box-shadow: 0 0 6px var(--gold-transparent-4) !important;
}
input.form-comp:hover {
  border-color: var(--gold) !important;
  box-shadow: 0 0 6px var(--gold-transparent-4) !important;
}
/*Searchbar*/
.searchbar {
  height: 44px;
  padding: 0 15px 0 45px !important;
}
