<form [formGroup]="ejemplarForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="field">
    <label for="ubicacion"><i class="pi pi-map-marker"></i> Ubicación</label>
    <input id="ubicacion" pInputText class="form-comp" formControlName="ubicacion" placeholder="Ej: Estante A-3" />
  </div>
  <div class="field">
    <label for="condicion"
      ><i class="pi pi-book"></i> Condición Física <label class="text red">*</label></label
    >
    <div class="p-inputgroup">
      <p-select
        id="condicion"
        [options]="condiciones"
        formControlName="idCondicionFisicaEjemplar"
        optionLabel="nombre"
        optionValue="id"
        placeholder="Selecciona una condición"
        class="form-comp"
      ></p-select>
      <button
        type="button"
        pButton
        icon="pi pi-plus"
        class="btn-primary"
        (click)="abrirModalAgregar('condicion')"
      ></button>
    </div>
  </div>
  <div class="field">
    <label for="estado"
      ><i class="pi pi-address-book"></i> Estado Inicial <label class="text red">*</label></label
    >
    <div class="p-inputgroup">
      <p-select
        id="estado"
        [options]="estados"
        formControlName="idEstadoEjemplar"
        optionLabel="nombre"
        optionValue="id"
        placeholder="Selecciona un estado"
        class="form-comp"
      ></p-select>
      <button
        type="button"
        pButton
        icon="pi pi-plus"
        class="btn-primary"
        (click)="abrirModalAgregar('estado')"
      ></button>
    </div>
  </div>
  <div class="form-footer">
    <button type="button" pButton class="btn-info text" (click)="cancelar()">Cancelar</button>
    <button type="submit" pButton icon="pi pi-check" class="btn-primary" [loading]="isSubmitting">
      Guardar
    </button>
  </div>
</form>

<p-dialog
  header="Agregar {{ catalogoSiendoAgregado === 'condicion' ? 'Nueva Condición' : 'Nuevo Estado' }}"
  [(visible)]="displayCatalogoDialog"
  draggable="false"
  [modal]="true"
  [style]="{ width: '500px' }"
  dismissableMask="false"
  focusOnShow="false"
>
  <form [formGroup]="catalogoForm" (ngSubmit)="guardarNuevoCatalogo()" class="form-container">
    <div class="field">
      <label for="nuevoNombre"> Nombre</label>
      <input id="nuevoNombre" pInputText formControlName="nombre" autofocus />
    </div>
    <div class="form-footer">
      <button type="button" pButton class="btn-info text" (click)="displayCatalogoDialog = false">
        Cancelar
      </button>
      <button type="submit" pButton icon="pi pi-check" class="btn-primary">Guardar</button>
    </div>
  </form>
</p-dialog>
